<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot= "start" color="secondary"></ion-menu-button>
  </ion-toolbar>

  <div class="ion-text-center">
    <h1>Bora viajar?</h1>
    <ion-label>Lembre-se de clicar no avançar para não ficar perdido!</ion-label>
    <br>
    <ion-icon name="remove-outline" color="secondary"></ion-icon>
  </div>
</ion-header>

<br>
<br>
<br>
<br>
<br>
<br>

<ion-item>
  <ion-label position="floating">Seu lucro  ou salário</ion-label>
  <ion-input placeholder="">R$</ion-input>
</ion-item>

<br>
<br>

<ion-item id="custom-item" counter="true">
  <ion-label position="floating">Quando é recebido?</ion-label>
  <ion-input maxlength="1"></ion-input>
</ion-item>

<div color="ion-primary-color" class="ion-text-center">

  <h1>Anual (A) <br>
      Mensal(M) <br>
      Semanal (S) <br>
      Diário (D)<br> </h1>

</div>

<br>
<br>
<br>

<div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin" routerLink="/criarplano2">Avançar</ion-button>
</div>

<ion-content>

</ion-content>
