<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot= "start" color="secondary"></ion-menu-button>
  </ion-toolbar>

<div class="ion-text-center">
  <h1>Por fim, <br> aqui é onde ficam suas despesas.</h1>
  <ion-label>Confira se tudo está certo para não te atrapalhar!</ion-label>
  <br>
  <ion-icon name="remove-outline" color="secondary"></ion-icon>
</div>

<br>
<br>
<br>

<ion-item id="custom-item" counter="true">
  <ion-label position="floating">Despesa</ion-label>
  <ion-input maxlength="100"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Gasto</ion-label>
  <ion-input placeholder="">R$</ion-input>
</ion-item>

<ion-item id="custom-item" counter="true">
  <ion-label position="floating">Despesa</ion-label>
  <ion-input maxlength="100"></ion-input>
</ion-item>

<ion-item id="custom-item" counter="true">
  <ion-label position="floating">Despesa</ion-label>
  <ion-input maxlength="100"></ion-input>
</ion-item>

<ion-item id="custom-item" counter="true">
  <ion-label position="floating">Despesa</ion-label>
  <ion-input maxlength="100"></ion-input>
</ion-item>

</ion-header>
