<ion-header>
    <ion-toolbar color="primary">
      <ion-menu-button slot= "start" color="secondary"></ion-menu-button>
    </ion-toolbar>

  <div class="ion-text-center">
    <h1>Para onde você deseja ir?</h1>
    <ion-label>Pesquise seu objetivo de viagem!</ion-label>
    <br>
    <ion-icon name="remove-outline" color="secondary"></ion-icon>
  </div>

</ion-header>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<ion-item>
  <ion-label position="floating">País</ion-label>
  <ion-input placeholder="Coloque o país aqui!"></ion-input>
</ion-item>

<br>
<br>

<ion-item>
  <ion-label position="floating">Cidade</ion-label>
  <ion-input placeholder="Coloque a cidade aqui!"></ion-input>
</ion-item>

<br>
<br>

<ion-item>
  <ion-label position="floating">Quando pretende viajar?</ion-label>
  <ion-input placeholder="Coloque a data aqui!"></ion-input>
</ion-item>

<div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin" routerLink="/despesas">Avançar</ion-button>
</div>

<ion-content>

</ion-content>
